.l-footer {
  padding: 22px 25px;
  background: $bg-footer-color;
  color: white;
  &__title {
    margin-bottom: 10px;
  }
  &__navbar {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 7px;
  }
  &__icon {
    width: 1.8em;
    font-size: 0.8em;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 35px 25px;
    gap: 16px;
    &__title {
      margin-bottom: 0px;
      padding-left: 75px;
      font-size: 1em;
      font-weight: 100;
    }
    &__navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}
